/* General styles */
:root {
    --main-color: #2DBBB3;
    --light-color: #FFFFFF;
    --dark-color: #000000;
}

.absolute {
    position: absolute;
}

/* Cover styles */
.cover-img {
    min-height:  540px;
    margin-bottom: 50px;
    background: url("https://placeholdit.imgix.net/~text?txtsize=117&bg=fed766&txt=1400%C3%97900&w=1400&h=900") no-repeat top center fixed;
    background-size: cover;
}

/* Menu styles */
.menu-btn {
    background: none;
    border: none;
    color: var(--dark-color);
    cursor: pointer;
    left: 1.2rem;
    position: absolute;
    top: 1.5rem;
}
.menu-svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
}
.menu-svg:last-of-type {
    left: 8px;
}
.scaled {
    -webkit-transform: scale(0);
            transform: scale(0);
}
