/* General styles */
:root {
    --main-color: #2DBBB3;
    --light-color: #FFFFFF;
    --dark-color: #000000;
}

.absolute {
    position: absolute;
}

/* Cover styles */
.cover-img {
    min-height:  540px;
    margin-bottom: 50px;
    background: url("https://placeholdit.imgix.net/~text?txtsize=117&bg=fed766&txt=1400%C3%97900&w=1400&h=900") no-repeat top center fixed;
    background-size: cover;
}

/* Menu styles */
.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    left: 1.2rem;
    position: absolute;
    top: 1.5rem;
    z-index: 1;
}
.menu-svg {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.menu-svg path {
    fill: none;
    stroke: var(--dark-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}
.menu-btn:hover .icon-visible {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.close-icon {
    left: 8px;
}
.close-icon path {
    stroke: var(--light-color);
}
.scaled {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}

/* Sidebar styles */
.sidebar {
    background-color: var(--dark-color);
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.75s cubic-bezier(.6,0,.5,1);
            transition: all 0.75s cubic-bezier(.6,0,.5,1);
}
.nav-closed {
    width: 0vw;
}
.nav-open {
    width: 100vw;
}
